[$Version]
update_info=spectacle_newConfig.upd:spectacle-new-config

[Save]
defaultSaveLocation=file://
  {{- .chezmoi.homeDir -}}
  /Pictures/Screenshots
lastUsedSaveMode=Save
saveFilenameFormat=%Y-%M-%D/Screenshot_%Y%M%D_%H%m%S
