#!/usr/bin/env bash

LANG=C \
snap list --all --unicode never --color never | \
  awk 'BEGIN { print "# normal" }
       NR != 1 && $6 !~ /(disabled|base|classic)/ {print $1,$3,$2,$5}
       END {print ""}'

LANG=C \
snap list --all --unicode never --color never | \
  awk 'BEGIN { print "# classic" }
       NR != 1 && $6 !~ /disabled/ && $6 ~ /classic/ {print $1,$3,$2,$5}
       END {print ""}'

LANG=C \
snap list --all --unicode never --color never | \
  awk 'BEGIN { print "# base" }
       NR != 1 && $6 !~ /disabled/ && $6 ~ /base/ {print $1,$3,$2,$5}
       END {print ""}'

LANG=C \
snap list --all --unicode never --color never | \
  awk 'BEGIN { print "# disabled" }
       NR != 1 && $6 ~ /disabled/ {print $1,$3,$2,$5}
       END {print ""}'
