{{- $bin := promptString "my_bin_dir" -}}
{{- $fuck := promptString "thefuck" -}}
{{- $basic_ipv4 := promptString "Base_do_IPv4" -}}
{{- $gpgkey := promptString "GPGKEY" -}}
data:
  ipv4:
    base: "{{ default "10.0.10" $basic_ipv4 }}"
    mask: "{{ default "10.0.10" $basic_ipv4 }}.0/24"
  lang_mozilla: "
    {{- if eq .chezmoi.hostname "home-PC-N" -}} en-US
    {{- else -}} pt-BR
    {{- end -}}
  "
  my_bin_dir: "{{ default "$HOME/bin" $bin | expandenv }}"
  thefuck: "{{ default "please" $fuck }}"
  what_gui: "
    {{- if eq .chezmoi.hostname "home-PC-N" -}} qt
    {{- else -}} gtk
    {{- end -}}
  "
# diff:
#   format: git
edit:
  # command: vim
encryption: gpg
gpg:
  recipient: {{ default "B24CB540944A918E" $gpgkey }}
  args:
    - --quiet
sourceDir: "{{ .chezmoi.sourceDir }}"
