# folders
**/plugged/
.github/
docs/
.git/
!.git/lfs/objects/
!.git/objects/
!.git/refs/heads/
!.git/refs/remotes/
!.git/refs/tags/

# files
**/.wakatime-project
.dockerignore
.editorconfig
.gitlab-ci.yml
.mailmap
CHANGELOG.md
Dockerfile
LICENSE
README-pt.md
README.md
compose.y?ml
!.git/HEAD
!.git/config
!.git/index
