[user]
  email =
  name =
[alias]
  assume-unchanged = !git update-index --assume-unchanged
  no-assume-unchanged = !git update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep '^[[:lower:]]' | cut -f2 -d' '
  oldest-ancestor = !bash -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
[core]
  # excludesfile = ~/Projects/.gitignore
  # editor = nvim
[credential]
  helper = cache --timeout=36000
[init]
  defaultBranch = main
  templateDir = ~/.config/git/templates/git-secrets
[secrets]
  providers = /home/nanda/.config/git/.forbidden-patterns
  providers = git secrets --aws-provider
  patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[commit]
  template = ~/.config/git/templates/commit_message.txt
[gui]
  editor = vim -f -p
  fontdiff = -family \"FiraCode Nerd Font Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
  expandtab = false
  tabsize = 4
  spellcheck = false
  historybrowser = gitk
[cola]
  fontdiff = FiraCode Nerd Font,9,-1,5,50,0,0,0,0,0
  blameviewer = git gui blame
  expandtab = false
  tabsize = 4
    {{- if ne .chezmoi.hostname "home-PC-N" }}
  theme = flat-dark-blue
    {{- end }}
  spellcheck = false
  linebreak = false
  statusindent = true
[merge]
  # guitool = gvimdiff
[mergetool "nvimdiff"]
  cmd="nvim -c 'Gvdiffsplit!' $MERGED"     # use fugitive.vim for 3-way merge
