[user]
  email =
  name =
[alias]
  assume-unchanged = !git update-index --assume-unchanged
  no-assume-unchanged = !git update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep '^[[:lower:]]' | cut -f2 -d' '
[core]
  # excludesfile = ~/Projects/.gitignore
  # editor = nvim
[credential]
  helper = cache --timeout=36000
[init]
  defaultBranch = main
[gui]
  editor = gvim -f -p
  fontdiff = -family \"FiraCode Nerd Font Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
  expandtab = false
  tabsize = 4
  spellcheck = false
  historybrowser = gitk
[cola]
  fontdiff = FiraCode Nerd Font,9,-1,5,50,0,0,0,0,0
  blameviewer = git gui blame
  expandtab = false
  tabsize = 4
    {{- if ne .chezmoi.hostname "home-PC-N" }}
  theme = flat-dark-blue
    {{- end }}
  spellcheck = false
  linebreak = false
  statusindent = true
[merge]
  # guitool = gvimdiff
[mergetool "nvimdiff"]
  cmd="nvim -c 'Gvdiffsplit!' $MERGED"     # use fugitive.vim for 3-way merge
[protocol "keybase"]
  allow = always
