
[DEFAULT]
bundleall =
  git bundle create --all ${1:-$HOME/Downloads/BKP}/$(basename \
      $(git rev-parse --show-toplevel) \
  ).gitrepo.$(date +%+4Y%m%d-%H%M)
make = make
Clean = make clean

[.yadr]
checkout =
  git clone --branch=mine --no-single-branch -j8 --recurse-submodules -- \
      'https://github.com/nandalopes/dotfiles-yadr.git' '.yadr'
install = ASK=true rake install
post_checkout =
  cd '.yadr'
  # remotes
  git remote add local \
      'nanda@vizinha.loc:Projects/repos/dotfiles-yadr.git'
  git remote add upstream 'https://github.com/skwp/dotfiles.git'
  git remote add lfilho   'https://github.com/lfilho/dotfiles.git'
  git remote add akita    'https://github.com/akitaonrails/dotfiles.git'
  git remote add vovin    'https://github.com/vovinacci/dotfiles-1.git'
  # config
  git config remotes.up   'upstream lfilho akita vovin'
  git config receive.denyCurrentBranch   warn
  git config receive.denyNonFastforwards false

[.zprezto]
checkout = true
update =
  git pull --ff-only
  git submodule update --init --recursive
pre_update = git checkout master

[bin/gitstatus]
checkout =
  ln -nfs \
    $HOME/.yadr/zsh/prezto/modules/prompt/external/powerlevel10k/gitstatus \
    'gitstatus'
update = true
status =
  git status
  git describe --abbrev=0 --tags
make = ./build -w -s -d docker

[bin/chezmoi-dotfiles]
checkout = ln -nfs $(chezmoi source-path) 'chezmoi-dotfiles'
post_checkout =
  cd 'chezmoi-dotfiles'
  git config receive.denyCurrentBranch warn


[.asdf]
checkout =
  git clone --shallow-since=2020-03-01 -j8 -- \
      'https://github.com/asdf-vm/asdf.git' '.asdf'
install =
  ASDF_DIR="$HOME/.asdf"
  # Dont source `~/.asdf/asdf.sh`
  PATH="$ASDF_DIR/bin:$PATH"
  . $ASDF_DIR/lib/asdf.sh # just load the asdf wrapper function
  for plug in direnv nodejs yarn golang ruby
      {{- if eq .chezmoi.username "nanda" }} tmux rust neovim
      {{- else }} php
      {{- end -}}
    ; do
    asdf plugin add $plug
  done
  asdf reshim
pre_checkout =
  if [ -d '.asdf/installs' ]; then
    mkdir -p ${TMPDIR:-/tmp}/asdf-bkp
    mv -t ${TMPDIR:-/tmp}/asdf-bkp .asdf/installs/{direnv,tmux}
  fi
  rm -rf '.asdf'
post_checkout =
  mv -t .asdf/installs ${TMPDIR:-/tmp}/asdf-bkp/* || true


[Projects/www/devilbox]
skip = lazy
checkout =
  git clone --shallow-since=2015 -j8 -- \
      'https://github.com/cytopia/devilbox' 'devilbox'
post_checkout =
  cd 'devilbox'
  git config core.sharedRepository group

