{{- /*
  vim:ft=bash.gotmpl:
*/ -}}

{{- if lookPath "apt-get" -}}
#!/usr/bin/env bash

# -e: exit on error
# -u: exit on unset variables
set -eu

{{ template "apt/debconf-tzdata" . }}

DEBIAN_FRONTEND=noninteractive

sudo apt-get update -qq

sudo apt-get install -qy apt-utils curl git stow

  {{- if or .app_sets.me .app_sets.fixes }}
sudo apt-get install -qy etckeeper
  {{- end }}

{{- end }}
