{{- template "utils/sed-sort-begin.sh" }}

  {{- if .app_sets.me }}
"buku[server] @ git+https://github.com/jarun/buku.git@master"
archivebox

opentype-feature-freezer

--include-deps ansible
asciinema
gay
  {{- end }}

  {{- if or .app_sets.fixes .app_sets.me }}
diceware
  {{- end }}

{{ template "utils/sed-sort-end.sh" -}}
