# vim:fileencoding=utf-8:ft=conf

[Projects/dotfiles-yadr]
skip = lazy
checkout =
  git clone -j8 '~/.yadr' 'dotfiles-yadr'
post_checkout =
  cd "$MR_ACTION"
  git_add_remotes "
    fork     https://github.com/nandalopes/dotfiles-yadr.git
    upstream https://github.com/skwp/dotfiles.git
  "
  cfg_shared

[Projects/dotfiles]
skip = lazy
checkout =
    {{- if .has_keybase }}
  git clone 'keybase://private/nandalopes/dotfiles' 'dotfiles'
    {{- else }}
  git clone 'nanda@vizinha.loc:Projects/dotfiles' 'dotfiles'
    {{- end }}
post_checkout =
  cd "$MR_ACTION"
  cfg_rcv_warn
  cfg_shared
    {{- if .has_keybase }}
  keybase git lfs-config dotfiles
    {{- else }}
  cfg_lfs_local
    {{- end }}

[Projects/webdev/yadr-gh-pages]
skip = lazy
checkout =
  git clone --branch=gh-pages -- \
      'https://github.com/nandalopes/dotfiles-yadr.git' 'yadr-gh-pages'
post_checkout =
  cd "$MR_ACTION"
  cfg_shared
  git remote set-branches origin 'gh-pages main mine'
  git remote add upstream 'https://github.com/skwp/dotfiles.git' \
      --track=gh-pages --track=master
post_update = git remote update

