# -*- mode: sh -*-

[Projects/repos/dotfiles-yadr.git]
skip = lazy
checkout =
  git clone --mirror --branch=mine -j8 -- \
      'https://github.com/nandalopes/dotfiles-yadr.git' 'dotfiles-yadr.git'
update = git remote update
status = git branch --verbose
head =
  git symbolic-ref HEAD refs/heads/${1:-mine}
  git branch --show-current
post_checkout =
  cd 'dotfiles-yadr.git'
  # remotes
  git_add_remote upstream 'https://github.com/skwp/dotfiles.git'
  # config
  cfg_rcv_warn
  cfg_shared
  # new branchs
  git branch note mine --no-track
  git branch fun  note --no-track
  git branch work mine --no-track

