# -*- mode: sh -*-

##### Programas #####
[ {{- .my_bin_dir -}} /chezmoi]
skip = lazy || third_party_skipper $MR_ACTION
checkout = git clone 'https://github.com/twpayne/chezmoi.git' 'chezmoi'
update = gplrt
make = make build-linux
installChez =
  GOOS=linux GOARCH=amd64 go build -a -o ${1:-$HOME/.local/bin}/chezmoi .
post_update = git_last_tag

[ {{- .my_bin_dir -}} /direnv]
skip = lazy || third_party_skipper $MR_ACTION
checkout = git clone -j8 'https://github.com/direnv/direnv.git' 'direnv'
update = gplrt
installsudo = sudo make install PREFIX=/usr/local
post_update = git_last_tag
post_make = chmod a+rX -R .

[ {{- .my_bin_dir -}} /tmux]
skip = lazy || third_party_skipper $MR_ACTION
checkout = git clone -j8 'https://github.com/tmux/tmux.git' 'tmux'
update = gplrt
installsudo = sudo make install
make =
  git checkout ${1:-$(git_last_tag)}
  sh autogen.sh
  ./configure --prefix=${2:-/usr/local}
  make -j4
pre_update = git checkout master
post_update = git_last_tag

[ {{- .my_bin_dir -}} /bukubrow-host]
skip = lazy || third_party_skipper $MR_ACTION
checkout =
  git clone 'https://github.com/samhh/bukubrow-host.git' 'bukubrow-host'
update = gplrt
Clean = cargo_clean
make = cargo_build
install =
  [ -f 'target/release/bukubrow' ] && \
    ln -nfs "$MR_REPO/target/release/bukubrow" \
    "${1:- {{- .my_bin_dir -}} }/bukubrow"
  ${1:- {{- .my_bin_dir -}} }/bukubrow --install-firefox --install-chrome

[ {{- .my_bin_dir -}} /ripgrep]
skip = lazy || third_party_skipper $MR_ACTION
checkout = git clone 'https://github.com/BurntSushi/ripgrep.git' 'ripgrep'
update = gplrt
Clean = cargo_clean
make = cargo_build --features 'pcre2'
install =
  [ -f 'target/release/rg' ] && \
    ln -nfs "$MR_REPO/target/release/rg" "${1:-$HOME/.local}/bin/rg"
  # manpage
  mkdir -p "${1:-$HOME/.local}/share/man/man1"
  mv -vf \
    `find $MR_REPO/target -name rg.1 -print0 | xargs -0 ls -t | head -n1` \
    "${1:-$HOME/.local}/share/man/man1/rg.1"
  # completions
  cp -vlf "$MR_REPO/complete/_rg" "${1:-$HOME/.local}/share/zsh/site-functions/_rg"
  mv -vf \
    `find $MR_REPO/target -name rg.bash -print0 | xargs -0 ls -t | head -n1` \
    "${1:-$HOME/.local}/share/bash-completion/completions/rg.bash"
post_update = git_last_tag

[ {{- .my_bin_dir -}} /delta]
skip = lazy || third_party_skipper $MR_ACTION
checkout = git clone 'https://github.com/dandavison/delta.git' 'delta'
update = gplrt
Clean = cargo_clean
make = cargo_build
install =
  [ -f 'target/release/delta' ] && \
    ln -nfs "$MR_REPO/target/release/delta" "${1:-$HOME/.local/bin}/delta"
  # completions
  cp -vlf "$MR_REPO/etc/completion/completion.zsh" \
    "${1:-$HOME/.local}/share/zsh/site-functions/_delta"
  cp -vlf "$MR_REPO/etc/completion/completion.bash" \
    "${1:-$HOME/.local}/share/bash-completion/completions/delta.bash"
post_update = git_last_tag

[ {{- .my_bin_dir -}} /bat]
skip = lazy || third_party_skipper $MR_ACTION
checkout = git clone 'https://github.com/sharkdp/bat.git' 'bat'
update = gplrt
Clean = cargo_clean
make = cargo_build
install =
  [ -f 'target/release/bat' ] && \
    ln -nfs "$MR_REPO/target/release/bat" "${1:-$HOME/.local/bin}/bat"
  # manpage
  mkdir -p "${1:-$HOME/.local}/share/man/man1"
  mv -vf \
    `find $MR_REPO/target -name bat.1 -print0 | xargs -0 ls -t | head -n1` \
    "${1:-$HOME/.local}/share/man/man1/bat.1"
  # completions
  mv -vf \
    `find $MR_REPO/target -name bat.zsh -print0 | xargs -0 ls -t | head -n1` \
    "${1:-$HOME/.local}/share/zsh/site-functions/_bat"
post_update = git_last_tag

[ {{- .my_bin_dir -}} /git-cola]
skip = lazy || third_party_skipper $MR_ACTION
order = 79
checkout = git clone 'https://github.com/git-cola/git-cola.git' 'git-cola'
update = gplrt
make = make build doc
install = make install install-doc
testCola =
  . {{ .my_bin_dir }}/.cola-test/bin/activate
  make test
  deactivate
lib =
  case $MR_ACTION in
    make|install)
      echo 'PYTHON = python3'      | tee    $MR_REPO/config.mak
      echo 'prefix =' $HOME/.local | tee -a $MR_REPO/config.mak
      echo 'NO_PRIVATE_LIBS = 1'   | tee -a $MR_REPO/config.mak
      ;;
    *)
  esac
pre_testCola =
  if ! [ -d {{ .my_bin_dir }}/.cola-test ]; then
    python3 -m venv --system-site-packages --clear {{ .my_bin_dir }}/.cola-test
      . {{ .my_bin_dir }}/.cola-test/bin/activate
    for req in $MR_REPO/requirements/requirements*.txt ; do
      pip install -r $req
    done
    deactivate
  fi
  true
post_checkout =
  cd "$MR_REPO"
  git_add_new_remote fork 'https://github.com/nandalopes/git-cola.git'
  cfg_shared

[ {{- .my_bin_dir -}} /dupeguru]
skip = lazy || third_party_skipper $MR_ACTION
order = 89
checkout =
  git clone --depth=50 -j8 -- \
      'https://github.com/arsenetar/dupeguru.git' 'dupeguru'
make =
  ./env/bin/python build.py --clean
  ./env/bin/python package.py
installsudo = sudo apt install ./build/dupeguru.deb
pre_make =
  python3 -m venv --system-site-packages --clear ./env
  ./env/bin/pip install -r requirements.txt -r requirements-extra.txt
post_make =
  mv -v build/dupeguru*.deb build/dupeguru.deb
  mv -v build/dupeguru-dbgsym*.ddeb build/dupeguru-dbgsym.ddeb

[ {{- .my_bin_dir -}} /gammastep]
skip = lazy || (test `whoami` =~ nanda$) || third_party_skipper $MR_ACTION
checkout = git clone 'https://gitlab.com/chinstrap/gammastep.git' 'gammastep'
update = gplr
Clean =
  make clean
  git clean -df
installsudo = make install || sudo make install
makesudo =
  ./bootstrap
  if [ -z $1 ]; then
    ./configure --prefix=/usr/local
  elif [ "${1#$HOME}" != "$1" ]; then
    ./configure --prefix=$1
                --with-systemduserunitdir=$HOME/.config/systemd/user
  else
    ./configure --prefix=$1
  fi
  make

[ {{- .my_bin_dir -}} /iperf3]
skip = lazy || (test `whoami` =~ nanda$) || third_party_skipper $MR_ACTION
checkout = git clone 'https://github.com/esnet/iperf.git' 'iperf3'
installsudo = make install || sudo make install
make =
  if [ -z $1 ]; then
    ./configure --prefix=$HOME/.local
  else
    ./configure --prefix=$1
  fi
  make
post_make = chmod a+rX -R .

[ {{- .my_bin_dir -}} /drawio-desktop]
skip = lazy || third_party_skipper $MR_ACTION
checkout =
  git clone --recurse-submodules -j8 -- \
      'https://github.com/jgraph/drawio-desktop.git' 'drawio-desktop'
update = gplrt
make =
  yarn install
  yarn run sync
  yarn run release-linux --linux AppImage --x64
post_update = git_last_tag


##### Old Ruby Devel #####
[ {{- .my_bin_dir -}} /ruby-build]
skip = lazy || third_party_skipper $MR_ACTION
checkout = git clone 'https://github.com/rbenv/ruby-build.git' 'ruby-build'
make = true
#installsudo = sudo PREFIX=/usr/local ./install.sh
install = PREFIX=$HOME/.local ./install.sh

[ {{- .my_bin_dir -}} /OpenSSL_1_0]
skip = lazy || third_party_skipper $MR_ACTION
order = 99
checkout =
  git clone --branch=OpenSSL_1_0_2-stable -j8 -- \
      'https://github.com/openssl/openssl.git' 'OpenSSL_1_0'
installSSL = make install || sudo make install
make = true
makeSSL =
  ./config --prefix=${1:-/opt/OpenSSL/OpenSSL_1_0_2} --no-shared
  make -j4
post_checkout =
  cd 'OpenSSL_1_0'
  git config core.sharedRepository group
  git remote set-branches origin \
      'OpenSSL_1_0_0-stable OpenSSL_1_0_1-stable OpenSSL_1_0_2-stable'
  git remote update

