Regras de usuário adicionadas (veja 'ufw status' para executar o firewall):
ufw limit log from 0.0.0.0 port 67 to 0.0.0.0 port 68 proto udp comment 'DHCP v4'
ufw limit log from 10.0.10.1 port 53 to 10.0.10.0/24
ufw limit log from 10.0.10.0/24 to any port 5353 proto udp comment 'Bonjour discover'
ufw limit log from any port 5355 to 224.0.0.0/4 port 5355 comment 'LLMNR discover'
ufw limit log from any port 5355 to 239.0.0.0/8 port 5355 comment 'LLMNR discover'
ufw limit log from 10.0.10.0/24 app DLNA comment 'UPnP discover'
ufw limit log from 10.0.10.0/24 to 10.0.10.0/24 proto udp comment 'UPnP Play'
ufw allow log from 10.0.10.0/24 to any app Jellyfin
ufw allow log from 10.0.10.0/24 to any app OpenSSH
ufw allow log from 10.0.10.0/24 to any app my-syncthing
ufw allow log from 10.0.10.0/24 to any app my-syncthing-gui
  {{- if eq .chezmoi.hostname "home-PC-N" }}
ufw allow log from 10.0.10.0/24 to any app KDE_Connect
ufw allow log from 10.0.10.0/24 app KDE_Connect to 10.0.10.0/24
  {{- end }}
ufw allow log from 10.0.10.0/24 app Jellyfin to 10.0.10.0/24
ufw limit log from any port 80 to 10.0.10.0/24 proto tcp comment 'Site navigation'
ufw allow log from 10.0.10.0/24 port 80 to 10.0.10.0/24 proto tcp comment 'Site navigation from repeater'
ufw limit log from any port 443 to 10.0.10.0/24 comment 'Site navigation'
ufw allow log from 10.0.10.0/24 port 443 to 10.0.10.0/24 comment 'Site navigation from repeater'
ufw limit log from 10.0.10.1 to 224.0.0.0/4 proto igmp comment 'syncthing?'
ufw limit log from 10.0.10.1 to 239.0.0.0/8 proto igmp comment 'syncthing?'
ufw limit log from 10.0.10.1 to 224.0.0.0/4 proto udp comment 'syncthing?'
ufw limit log from 10.0.10.1 to 239.0.0.0/8 proto udp comment 'syncthing?'
ufw limit log from 10.0.0.0/8 to 224.0.0.0/4 proto igmp comment 'DHCP error?'
ufw limit log from 172.16.0.0/12 to 224.0.0.0/4 proto igmp comment 'DHCP error?'
ufw limit log from 192.168.0.0/16 to 224.0.0.0/4 proto igmp comment 'DHCP error?'
ufw limit log from 10.0.0.0/8 to 239.0.0.0/8 proto igmp comment 'DHCP error?'
ufw limit log from 172.16.0.0/12 to 239.0.0.0/8 proto igmp comment 'DHCP error?'
ufw limit log from 192.168.0.0/16 to 239.0.0.0/8 proto igmp comment 'DHCP error?'
ufw allow log Stremio
ufw allow log Transmission
  {{- if eq .chezmoi.hostname "home-PC-N" }}
ufw allow log KTorrent
  {{- end }}
ufw allow log from 200.128.56.0/21 proto gre comment 'UFBA'
ufw allow in on ppp0 to 224.0.0.0/4 proto igmp comment 'UFBA dhcp'
ufw limit in on ppp0 from any port 80 proto tcp comment 'UFBA site navigation'
ufw limit in on ppp0 from any port 443 comment 'UFBA Site navigation'
ufw allow log from 10.0.10.0/24 to 10.0.10.0/24 proto tcp comment 'syncthing'
ufw limit log to 10.0.10.0/24 proto tcp comment 'transmission'
ufw limit log from :: port 547 to :: port 546 proto udp comment 'DHCP v6'
ufw limit log from fe80::/64 to ff02::/80 port 5353 proto udp comment 'Bonjour discover'
ufw limit log from any port 5355 to ff02::/80 port 5355 comment 'LLMNR discover'
ufw limit log from any app DLNA to ff02::/80 comment 'UPnP discover ipv6'
ufw allow log from fe80::/64 to any app Jellyfin
ufw allow log from fe80::/64 to any app OpenSSH
ufw allow log from fe80::/64 to any app my-syncthing
ufw allow log from fe80::/64 to any app my-syncthing-gui
  {{- if eq .chezmoi.hostname "home-PC-N" }}
ufw allow log from fe80::/64 to any app KDE_Connect
ufw allow log from ff02::/80 to any app KDE_Connect
ufw allow log from fe80::/64 app KDE_Connect to fe80::/64
  {{- end }}
ufw allow log from fe80::/64 app Jellyfin to fe80::/64
ufw limit log from any port 80 to fe80::/64 proto tcp comment 'Site navigation'
ufw allow log from fe80::/64 port 80 to fe80::/64 proto tcp comment 'Site navigation from repeater'
ufw limit log from any port 443 to fe80::/64 comment 'Site navigation'
ufw allow log from fe80::/64 port 443 to fe80::/64 comment 'Site navigation from repeater'
ufw allow log from fe80::/64 to fe80::/64 proto tcp comment 'syncthing'
ufw limit log to fe80::/64 proto tcp comment 'transmission'
