# chezmoi:template:left-delimiter=[{ right-delimiter=}]
#!/usr/bin/env /usr/bin/ansible-playbook
# vim:fileencoding=utf-8:ft=yaml.ansible:
---
- name: Setup computer
  hosts: localhost
  become: true
  # gather_facts: false

  tasks:
    - name: Include vars
      ansible.builtin.include_vars:
        dir: vars
    - name: Setup PC
      ansible.builtin.include_tasks:
        file: "{{ task_file }}"
      loop_control:
        loop_var: task_file
      loop:
        # - 00_tasks/00_apt_basic.yaml
        # - 00_tasks/00_config_locale.yaml
        # - 00_tasks/00_config_zsh.yaml
        # - 10_tasks/10_apt_sources_other.yaml
        # - 10_tasks/10_apt_sources_ppa.yaml
        # - 10_tasks/10_apt_sources_vms.yaml
        # - 10_tasks/10_snap_install.yaml
        # - 20_tasks/20_apt_fix_sources.yaml
