# horizontal vim merge
[mergetool "hvimdiff"]
  cmd = "vim -c 'Ghdiffsplit!' $MERGED"     # use fugitive.vim for 3-way merge

  {{- range (list "g" "m") }}
[mergetool "h {{- . -}} vimdiff"]
  cmd = " {{- . -}} vim -f -c 'Ghdiffsplit!' $MERGED"     # use fugitive.vim for 3-way merge
  {{- end }}

# vertical vim diff
[difftool "vimdiff"]
  cmd = "vim -O -d $LOCAL $REMOTE"

  {{- range (list "g" "m") }}
[difftool " {{- . -}} vimdiff"]
  cmd = " {{- . -}} vim -f -O -d $LOCAL $REMOTE"
  {{- end }}

# horizontal vim diff
[difftool "hvimdiff"]
  cmd = "vim -O -d $LOCAL $REMOTE"

  {{- range (list "g" "m") }}
[difftool "h {{- . -}} vimdiff"]
  cmd = " {{- . -}} vim -f -O -d $LOCAL $REMOTE"
  {{- end }}

# kitty diff
  {{- range list "" ".gui" }}
[difftool "kitty {{- . -}} "]
    cmd = kitten diff $LOCAL $REMOTE
  {{- end }}

# difftool config
[diff]
  tool = vimdiff
  guitool = gvimdiff
[difftool]
  prompt = false
  trustExitCode = true

# vim:ft=gitconfig

{{- /*
  vim:ft=gitconfig.gotmpl:
*/}}
