[Desktop Entry]
Version=1.1
Type=Application
Exec= {{- .chezmoi.homeDir -}} /bin/CmapTools
# Exec=$HOME/bin/CmapTools
Icon=CmapTools
MimeType=application/x-cmaptools;
Name=CmapTools
Categories=Office;Publishing;
Keywords=cmaptools;concepts;maps;concept maps;
X-CmapTools-Version=6.04
