[Desktop Entry]
Version=1.1
Type=Application
Exec= {{- .chezmoi.homeDir -}} /bin/freeplane/freeplane.sh %F
Icon= {{- .chezmoi.homeDir -}} /bin/freeplane/freeplane.png
MimeType=application/x-freeplane;text/x-freeplane;text/x-troff-mm;
Name=Freeplane
Categories=Office;Publishing;
Keywords=freeplane;freemind;mind;maps;mind maps;
X-Freeplane-Version=1.9.1
