#!/bin/sh

  {{-   if ne .chezmoi.os "android" }}
echo "# {{ .chezmoi.osRelease.prettyName }}"
  {{-   end }}

env LANGUAGE= LC_MESSAGES=en_US.UTF-8 \
  apt list --all-versions '?obsolete' 2> /dev/null | awk 'NR != 1 && length {print $0}'
