session_name: dotfiles
start_directory: $HOME
suppress_history: false
options:
  automatic-rename: false
windows:
  - window_name: RESPIRA!!!
    layout: tiled
    focus: true
    panes:
      - shell_command:
        - cd Music
        - ls -t **/*.m3u
        focus: true
      - shell_command:
        - cd Videos
        - ls -t **/*.m3u
      - shell_command:
        - cd `chezmoi source-path`
        - g r update --prune
        - g s
      - shell_command:
        - cd .yadr
        - g r update --prune
        - g s
  - window_name: git $USER
    layout: even-horizontal
    panes:
      - shell_command:
        - cd {{ .my_bin_dir }}
          {{- if eq .chezmoi.username "nanda" }}
        - mr -s up
          {{- end }}
        focus: true
