session_name: monitor
start_directory: $HOME/Projects
options:
  automatic-rename: false
windows:
- window_name: "Hello $USER!"
  layout: main-vertical
  options:
    main-pane-width: 50%
  panes:
  - shell_command:
    - htop
  - shell_command:
    - cd /var/log
    - clear
    - ls -ltr **/*log
    - tail -f ufw.log | grep -iE "$( LC_ALL=C date +%b\ %d ).*ufw
                                  (block|audit)\]"
    focus: true
  - shell_command:
    - neofetch
