session_name: syncthing
suppress_history: false
options:
  automatic-rename: false
windows:
  - window_name: sync {{ .chezmoi.username }}@{{ .chezmoi.hostname }}
    layout: even-horizontal
    options_after:
      synchronize-panes: on
    panes:
      - shell_command:
        - syncthing
        focus: true
      - shell_command:
        - ssh vizinha.loc -t syncthing
