  {{- $initialStatus := "/var/log/installer/initial-status.gz" -}}
  {{- if stat $initialStatus -}}

  {{-   if eq .chezmoi.os "android" -}}
#!/bin/sh
  {{-   else -}}
#!/usr/bin/env bash
  {{-   end }}

echo "# {{ .chezmoi.osRelease.prettyName }}"

LC_COLLATE=C.UTF-8

comm -23 \
<(apt-mark showmanual | sort -u) \
<(gzip -dc {{ $initialStatus }} | sed -n 's/^Package: //p' | sort -u)

  {{- end }}
