{{- $pinPriority := 500 -}}
{{- if gt .chezmoi.osRelease.versionID "21.10" -}}
{{-   $pinPriority = 550 -}}
{{- end -}}
{{- $ppaInstalled := list
      "papirus-icon*"
      "qt5-style-kvantum*"
      "solaar*"
      "sqlitebrowser"
      "texstudio"
      "xournalpp"
-}}
{{- $ppaPriority := list
      "keepassxc"
      "obs-studio"
-}}

Package: *
Pin: release o=LP-PPA-kdenlive-kdenlive-stable
Pin-Priority: {{ $pinPriority }}

#Package: *
#Pin: release o=LP-PPA-kubuntu-ppa-backports
#Pin-Priority: {{ $pinPriority }}

Package: inkscape*
Pin: release LP-PPA-inkscape.dev-stable
Pin-Priority: {{ $pinPriority }}

Package: keepassxc
Pin: release o=LP-PPA-phoerious-keepassxc
Pin-Priority: {{ $pinPriority }}

Package: obs-studio
Pin: release o=LP-PPA-obsproject-obs-studio
Pin-Priority: {{ $pinPriority }}

Package: git*
Pin: release o=LP-PPA-git-core
Pin-Priority: 500

Package: *
Pin: release o=LP-PPA-flatpak-stable
Pin-Priority: 500

Package: *
Pin: release o=LP-PPA-kobuk-team-intel-graphics
Pin-Priority: 500

Package: *libreoffice* fonts* libofficebean* libuno* python?-uno uno-libs-private *ure*
Pin: release o=LP-PPA-libreoffice-libreoffice-still
Pin-Priority: 500

Package: {{ sortAlpha $ppaInstalled | join " " }}
Pin: origin ppa.launchpad*.net
Pin-Priority: 500

Package: *
Pin: origin ppa.launchpad*.net
Pin-Priority: 100
