#!/bin/bash

{{ template "exit_user.sh" }}
{{ template "utils.sh" }}

separaTitulo 3 "Adding ppas..."

my_ppas=(
  ppa:alexlarsson/flatpak
  ppa:appimagelauncher-team/stable
  ppa:phoerious/keepassxc
  ppa:git-core/ppa
  ppa:inkscape.dev/stable
  ppa:obsproject/obs-studio
  ppa:papirus/papirus
  ppa:sunderme/texstudio
)

for PPA in ${my_ppas[@]}; do
  sudo add-apt-repository --yes --no-update $PPA
done


separaTitulo 1 "VSCodium..."

wget -qO - \
  https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg \
  | gpg --dearmor | sudo dd of=$(keyringName codium)

sudo tee /etc/apt/sources.list.d/codium.sources << EOP
Types: deb
URIs: https://paulcarroty.gitlab.io/vscodium-deb-rpm-repo/debs/
Suites: vscodium
Architectures: i386 amd64
Components: main
Signed-By: $(keyringName codium)
EOP


separaTitulo 1 "Signal-Desktop..."

curl -fsSL https://updates.signal.org/desktop/apt/keys.asc \
  | gpg --dearmor | sudo dd of=$(keyringName signal)

sudo tee /etc/apt/sources.list.d/signal.sources << EOP
Types: deb
URIs: https://updates.signal.org/desktop/apt
Suites: xenial
Architectures: amd64
Components: main
Signed-By: $(keyringName signal)
EOP


separaTitulo 1 "Element-Desktop..."

sudo curl -s -o $(keyringName element) -C - \
  https://packages.riot.im/debian/riot-im-archive-keyring.gpg

sudo tee /etc/apt/sources.list.d/element.sources << EOP
Types: deb
URIs: https://packages.riot.im/debian
Suites: default
Architectures: i386 amd64
Components: main
Signed-By: $(keyringName element)
EOP


separaTitulo 1 "Github cli # groovy..."

sudo apt-key --keyring $(keyringName github) \
  adv --keyserver keyserver.ubuntu.com --recv-key C99B11DEB97541F0

sudo tee /etc/apt/sources.list.d/github.sources << EOP
Types: deb
URIs: https://cli.github.com/packages
Suites: $(lsb_release -cs)
Architectures: i386 amd64
Components: main
Signed-By: $(keyringName github)
EOP


separaTitulo 1 "Syncthing <https://apt.syncthing.net/>..."

sudo curl -s -o $(keyringName syncthing) -C - \
  https://syncthing.net/release-key.gpg

sudo tee /etc/apt/sources.list.d/syncthing.sources << EOP
Types: deb
URIs: https://apt.syncthing.net
Suites: syncthing
Architectures: i386 amd64
Components: stable
Signed-By: $(keyringName syncthing)
EOP


sudo chmod 0644 /etc/apt/sources.list.d/* /usr/local/share/keyrings/*

{{ if gt .chezmoi.osRelease.versionID "20.04" }}
  # Downgrade to focal
  separaTitulo 1 "editing ppas to focal..."
  for list in /etc/apt/sources.list.d/alexlarsson*.list;
  do
    sed 's/{{- .chezmoi.osRelease.versionCodename -}}/focal/g' $list | \
    sort -u | sudo tee $list
  done
{{- end }}
{{ if gt .chezmoi.osRelease.versionID "20.10" }}
  # Downgrade to groovy
  separaTitulo 1 "editing ppas to groovy..."
  for list in
/etc/apt/sources.list.d/{appimagelauncher,phoerious,papirus,obsproject,\
sunderme}*.list;
  do
    sed 's/{{- .chezmoi.osRelease.versionCodename -}}/groovy/g' $list | \
    sort -u | sudo tee $list
  done
  for list in
    /etc/apt/sources.list.d/github.sources ;
  do
    sed 's/{{- .chezmoi.osRelease.versionCodename -}}/groovy/g' $list | \
    sudo tee $list
  done
{{- end }}

sudo apt update

separaTitulo 1 "Install apts from ppas after lists..."

readarray my_apps -t <<<" {{- template "apt/ppas" . -}} "
sudo apt install ${my_apps[@]}

sudo apt install
  {{- if ne .chezmoi.hostname "home-PC-N" }} \
    --no-install-recommends
  {{- end }} \
  -y qt5-style-kvantum

exit 0

