{{- /*
  vim:ft=bash.gotmpl:
  */ -}}

#!/usr/bin/env bash

# -e: exit on error
set -e

{{- $reqPath := joinPath .chezmoi.homeDir ".backup/install/pipx/install.txt" }}
{{- if stat $reqPath }}

# {{ include $reqPath | sha1sum }}
echo '# Install pipx programs...'
xargs -d$'\n' -I{} -t -a {{ $reqPath }} bash -c \
"pipx install \
--system-site-packages {}"

{{- end }}

