
##### DRIVERS #####
[8812au]
checkout = git clone 'https://github.com/morrownr/8812au.git' '8812au'
update = git pull --rebase
installDriver = sudo ./install-driver.sh
uninstallDriver = sudo ./remove-driver.sh
upgradeDriver =
  sudo ./remove-driver.sh
  sudo ./install-driver.sh

[88x2bu]
checkout = git clone 'https://github.com/morrownr/88x2bu.git' '88x2bu'
update = git pull --rebase
installDriver = sudo ./install-driver.sh
uninstallDriver = sudo ./remove-driver.sh
upgradeDriver =
  sudo ./remove-driver.sh
  sudo ./install-driver.sh


##### Programas #####
[chezmoi]
checkout = git clone 'https://github.com/twpayne/chezmoi.git' 'chezmoi'
skip = lazy
update = git pull --rebase
post_update =
  git fetch --tags
  git describe --abbrev=0 --tags
clean = make clean
make = make build-linux
installChez =
  GOOS=linux GOARCH=amd64 go build -a -o ${1:-$HOME/.local/bin}/chezmoi .
#   GOOS=linux GOARCH=amd64 go build -o ${1:-$HOME/.local/bin}/chezmoi .

[direnv]
checkout = git clone -j8 'https://github.com/direnv/direnv.git' 'direnv'
skip = lazy
update = git pull --rebase
post_update =
  git fetch --tags
  git describe --abbrev=0 --tags
clean = make clean
make =
  make
  chmod a+rX -R ./
installsudo = sudo make install PREFIX=/usr/local

[pass]
checkout = git clone 'git://git.zx2c4.com/password-store' 'pass'
skip = lazy
installsudo = sudo make install PREFIX=/usr/local

[tmux]
checkout = git clone -j8 'https://github.com/tmux/tmux.git' 'tmux'
skip = lazy
pre_update = git checkout master
post_update =
  git fetch --tags
  git describe --abbrev=0 --tags
clean = make clean
pre_make = git checkout ${1:-$(git describe --abbrev=0 --tags)}
make =
  sh autogen.sh
  ./configure --prefix=/usr/local
  make
installsudo = sudo make install

[bukubrow-host]
checkout =
  git clone 'https://github.com/samhh/bukubrow-host.git' 'bukubrow-host'
skip = lazy
update = git pull --rebase
clean = cargo clean
make = cargo build --release
install =
  cp -v target/release/bukubrow ${1:- {{- .my_bin_dir -}} }/bukubrow
  ${1:- {{- .my_bin_dir -}} }/bukubrow --install-firefox --install-chrome

[fzf]
checkout = git clone 'https://github.com/junegunn/fzf.git' 'fzf'
update = git pull --rebase
post_update =
  git fetch --tags
  git describe --abbrev=0 --tags
clean = make clean
make = make
install = make install

[funcoeszz]
order = 69
checkout = git clone 'https://github.com/funcoeszz/funcoeszz.git' 'funcoeszz'
install =
  ln -nfs $MR_REPO/funcoeszz $HOME/.local/bin/funcoeszz
  LC_ALL=C ./funcoeszz zzzz --zshrc --bashrc
post_install = git -C ~/.yadr checkout -f -- zsh/prezto-override/zshrc

[git-cola]
checkout = git clone 'https://github.com/git-cola/git-cola.git' 'git-cola'
post_checkout =
  cd 'git-cola'
  git remote add fork https://github.com/nandalopes/git-cola.git
  git config core.sharedRepository group
order = 79
skip = lazy
clean = make clean
make = make build doc
install = make install install-doc
pre_make =
  echo 'PYTHON = python3'      | tee    ./config.mak
  echo 'prefix =' $HOME/.local | tee -a ./config.mak
  echo 'NO_PRIVATE_LIBS = 1'   | tee -a ./config.mak
pre_install =
  echo 'PYTHON = python3'      | tee    ./config.mak
  echo 'prefix =' $HOME/.local | tee -a ./config.mak
  echo 'NO_PRIVATE_LIBS = 1'   | tee -a ./config.mak
post_make = rm -v ./config.mak
post_install = rm -v ./config.mak
pre_testCola =
  if ! [ -d {{ .my_bin_dir }}/.cola-test ]; then
    python3 -m venv --system-site-packages --clear {{ .my_bin_dir }}/.cola-test
    . {{ .my_bin_dir }}/.cola-test/bin/activate
    for req in $MR_REPO/requirements/requirements*.txt ; do
      pip install -r $req
    done
    deactivate
  fi
  true
testCola =
  . {{ .my_bin_dir }}/.cola-test/bin/activate
  make test
  deactivate

[dupeguru]
order = 89
checkout =
  git clone --depth=50 -j8 -- \
      'https://github.com/arsenetar/dupeguru.git' 'dupeguru'
skip = lazy
clean = make clean
pre_make =
  python3 -m venv --system-site-packages --clear ./env
  ./env/bin/pip install -r requirements.txt -r requirements-extra.txt
make =
  ./env/bin/python build.py --clean
  ./env/bin/python package.py
post_make =
  mv -v build/dupeguru*.deb build/dupeguru.deb
  mv -v build/dupeguru-dbgsym*.ddeb build/dupeguru-dbgsym.ddeb
installsudo =
  sudo apt install ./build/dupeguru.deb

[gammastep]
checkout = git clone 'https://gitlab.com/chinstrap/gammastep.git' 'gammastep'
skip = lazy || (test `whoami` != nanda)
update = git pull --rebase
clean =
  make clean
  git clean -df
makesudo =
  ./bootstrap
  if [ -z $1 ]; then
    ./configure --prefix=$HOME/.local \
                --with-systemduserunitdir=$HOME/.config/systemd/user
  else
    ./configure --prefix=$1
  fi
  make
installsudo = make install || sudo make install

[iperf3]
checkout = git clone 'https://github.com/esnet/iperf.git' 'iperf3'
skip = lazy || (test $(whoami) != nanda)
update = git pull --rebase
clean = make clean
make =
  if [ -z $1 ]; then
    ./configure --prefix=$HOME/.local
  else
    ./configure --prefix=$1
  fi
  make
  chmod a+rX -R ./
installsudo = make install || sudo make install

[drawio-desktop]
checkout =
  git clone --recurse-submodules -j8 -- \
      'https://github.com/jgraph/drawio-desktop.git' 'drawio-desktop'
skip = lazy
update = git pull --rebase
post_update =
  git fetch --tags
  git describe --abbrev=0 --tags
make =
  yarn install
  yarn run sync
  yarn run release-linux --linux AppImage --x64


##### Old Ruby Devel #####
[OpenSSL_1_0]
order = 99
checkout =
  git clone --branch=OpenSSL_1_0_2-stable -j8 -- \
      'https://github.com/openssl/openssl.git' 'OpenSSL_1_0'
post_checkout =
  cd 'OpenSSL_1_0'
  git config core.sharedRepository group
  git remote set-branches origin \
      OpenSSL_1_0_0-stable OpenSSL_1_0_1-stable OpenSSL_1_0_2-stable
  git remote update
skip = lazy
clean = make clean
makeSSL =
  ./config --prefix=${1:-/opt/OpenSSL/OpenSSL_1_0_2} --no-shared
  make -j4
installSSL = make install || sudo make install

