
[DEFAULT]
skip = lazy
make = make
Clean = make clean

[ALIAS]
up = update


##### DRIVERS #####
[8812au]
checkout = git clone 'https://github.com/morrownr/8812au.git' '8812au'
update = git pull --rebase
installDriver = sudo ./install-driver.sh
uninstallDriver = sudo ./remove-driver.sh
upgradeDriver =
  sudo ./remove-driver.sh
  sudo ./install-driver.sh

[88x2bu]
checkout = git clone 'https://github.com/morrownr/88x2bu.git' '88x2bu'
update = git pull --rebase
installDriver = sudo ./install-driver.sh
uninstallDriver = sudo ./remove-driver.sh
upgradeDriver =
  sudo ./remove-driver.sh
  sudo ./install-driver.sh


##### Programas #####
[chezmoi]
checkout = git clone 'https://github.com/twpayne/chezmoi.git' 'chezmoi'
update = git pull --rebase
make = make build-linux
installChez =
  GOOS=linux GOARCH=amd64 go build -a -o ${1:-$HOME/.local/bin}/chezmoi .
post_update =
  git fetch --tags
  git describe --abbrev=0 --tags

[direnv]
checkout = git clone -j8 'https://github.com/direnv/direnv.git' 'direnv'
update = git pull --rebase
installsudo = sudo make install PREFIX=/usr/local
post_update =
  git fetch --tags
  git describe --abbrev=0 --tags
post_make = chmod a+rX -R .

[pass]
checkout = git clone 'git://git.zx2c4.com/password-store' 'pass'
installsudo = sudo make install PREFIX=/usr/local

[tmux]
checkout = git clone -j8 'https://github.com/tmux/tmux.git' 'tmux'
installsudo = sudo make install
make =
  git checkout ${1:-$(git describe --abbrev=0 --tags)}
  sh autogen.sh
  ./configure --prefix=${2:-/usr/local}
  make -j4
pre_update = git checkout master
post_update =
  git fetch --tags
  git describe --abbrev=0 --tags

[fzf]
checkout = git clone 'https://github.com/junegunn/fzf.git' 'fzf'
update = git pull --rebase
install = make install
post_update =
  git fetch --tags
  git describe --abbrev=0 --tags

[bukubrow-host]
checkout =
  git clone 'https://github.com/samhh/bukubrow-host.git' 'bukubrow-host'
update = git pull --rebase
Clean = cargo clean
make = cargo build --release
install =
  cp -v target/release/bukubrow ${1:- {{- .my_bin_dir -}} }/bukubrow
  ${1:- {{- .my_bin_dir -}} }/bukubrow --install-firefox --install-chrome


[funcoeszz]
order = 69
checkout = git clone 'https://github.com/funcoeszz/funcoeszz.git' 'funcoeszz'
install =
  ln -nfs $MR_REPO/funcoeszz $HOME/.local/bin/funcoeszz
  LC_ALL=C ./funcoeszz zzzz --zshrc --bashrc
post_install = git -C ~/.yadr checkout -f -- zsh/prezto-override/zshrc

[git-cola]
order = 79
checkout = git clone 'https://github.com/git-cola/git-cola.git' 'git-cola'
make = make build doc
install = make install install-doc
testCola =
  . {{ .my_bin_dir }}/.cola-test/bin/activate
  make test
  deactivate
lib =
  case $MR_ACTION in
    make|install)
      echo 'PYTHON = python3'      | tee    ./config.mak
      echo 'prefix =' $HOME/.local | tee -a ./config.mak
      echo 'NO_PRIVATE_LIBS = 1'   | tee -a ./config.mak
      ;;
    *)
  esac
pre_testCola =
  if ! [ -d {{ .my_bin_dir }}/.cola-test ]; then
    python3 -m venv --system-site-packages --clear {{ .my_bin_dir }}/.cola-test
      . {{ .my_bin_dir }}/.cola-test/bin/activate
    for req in $MR_REPO/requirements/requirements*.txt ; do
      pip install -r $req
    done
    deactivate
  fi
  true
post_checkout =
  cd 'git-cola'
  git remote add fork 'https://github.com/nandalopes/git-cola.git'
  git config core.sharedRepository group

[dupeguru]
order = 89
checkout =
  git clone --depth=50 -j8 -- \
      'https://github.com/arsenetar/dupeguru.git' 'dupeguru'
make =
  ./env/bin/python build.py --clean
  ./env/bin/python package.py
installsudo = sudo apt install ./build/dupeguru.deb
pre_make =
  python3 -m venv --system-site-packages --clear ./env
  ./env/bin/pip install -r requirements.txt -r requirements-extra.txt
post_make =
  mv -v build/dupeguru*.deb build/dupeguru.deb
  mv -v build/dupeguru-dbgsym*.ddeb build/dupeguru-dbgsym.ddeb

[gammastep]
skip = lazy || (test `whoami` != nanda)
checkout = git clone 'https://gitlab.com/chinstrap/gammastep.git' 'gammastep'
update = git pull --rebase
Clean =
  make clean
  git clean -df
installsudo = make install || sudo make install
makesudo =
  ./bootstrap
  if [ -z $1 ]; then
    ./configure --prefix=/usr/local
  elif [ "${1#$HOME}" != "$1" ]; then
    ./configure --prefix=$1
                --with-systemduserunitdir=$HOME/.config/systemd/user
  else
    ./configure --prefix=$1
  fi
  make

[iperf3]
skip = lazy || (test $(whoami) != nanda)
checkout = git clone 'https://github.com/esnet/iperf.git' 'iperf3'
update = git pull --rebase
installsudo = make install || sudo make install
make =
  if [ -z $1 ]; then
    ./configure --prefix=$HOME/.local
  else
    ./configure --prefix=$1
  fi
  make
post_make = chmod a+rX -R .

[drawio-desktop]
checkout =
  git clone --recurse-submodules -j8 -- \
      'https://github.com/jgraph/drawio-desktop.git' 'drawio-desktop'
update = git pull --rebase
make =
  yarn install
  yarn run sync
  yarn run release-linux --linux AppImage --x64
post_update =
  git fetch --tags
  git describe --abbrev=0 --tags


##### Old Ruby Devel #####
[OpenSSL_1_0]
order = 99
checkout =
  git clone --branch=OpenSSL_1_0_2-stable -j8 -- \
      'https://github.com/openssl/openssl.git' 'OpenSSL_1_0'
installSSL = make install || sudo make install
makeSSL =
  ./config --prefix=${1:-/opt/OpenSSL/OpenSSL_1_0_2} --no-shared
  make -j4
post_checkout =
  cd 'OpenSSL_1_0'
  git config core.sharedRepository group
  git remote set-branches origin \
      'OpenSSL_1_0_0-stable OpenSSL_1_0_1-stable OpenSSL_1_0_2-stable'
  git remote update

