[/]
backspace-binding='ascii-delete'
enable-wide-handle=true
encodings=['UTF-8', 'ISO-8859-1', 'WINDOWS-1252']
exit-action='close'
quake-active-monitor=false
quake-alignment='
  {{- if (regexMatch "^home-PC" .chezmoi.hostname) -}}
    center
  {{- else -}}
    left
  {{- end -}}
'
quake-height-percent=70
quake-hide-headerbar=false
quake-keep-on-top=false
quake-show-on-all-workspaces=true
quake-specific-monitor=0
quake-width-percent=75
quake-window-position='
  {{- if (regexMatch "^home-PC" .chezmoi.hostname) -}}
    bottom
  {{- else -}}
    top
  {{- end -}}
'
terminal-title-show-when-single=false
terminal-title-style='small'
theme-variant='dark'
window-style='normal'

[profiles]
default='nanda-profile'
list=['default-profile', 'nanda-profile']

# Solarized Dark
[profiles/default-profile]
background-color='#002B36'
background-transparency-percent=0
badge-color-set=false
bold-color-set=false
cursor-colors-set=false
default-size-columns=144
default-size-rows=36
dim-transparency-percent=10
font='Hack 12'
foreground-color='#839496'
highlight-colors-set=false
login-shell=false
palette=['#073642', '#DC322F', '#859900', '#B58900', '#268BD2', '#D33682', '#2AA198', '#EEE8D5', '#002B36', '#CB4B16', '#586E75', '#657B83', '#839496', '#6C71C4', '#93A1A1', '#FDF6E3']
use-system-font=false
use-theme-colors=false
visible-name='Default'

# Gruvbox Dark Hard
[profiles/nanda-profile]
allow-bold=true
background-color='#1D2021'
background-transparency-percent=10
badge-color-set=false
bold-color-set=false
cursor-colors-set=false
default-size-columns=144
default-size-rows=36
dim-transparency-percent=10
font='FiraCode Nerd Font Mono Medium 9'
foreground-color='#EBDBB2'
highlight-colors-set=false
login-shell=false
notify-silence-enabled=true
notify-silence-threshold=600
palette=['#1D2021', '#CC241D', '#98971A', '#D79921', '#458588', '#B16286', '#689D6A', '#BDAE93', '#7C6F64', '#FB4934', '#B8BB26', '#FABD2F', '#83A598', '#D3869B', '#8EC07C', '#EBDBB2']
use-system-font=false
use-theme-colors=false
visible-name='Nanda'
