{{- template "utils/sed-sort-begin.sh" }}

ppa:libreoffice/libreoffice-still
ppa:phoerious/keepassxc

  {{- if and .app_sets.desktop .app_sets.space }}
ppa:kobuk-team/intel-graphics
ppa:papirus/papirus
  {{- end }}

  {{- if and .app_sets.writer .app_sets.space }}
ppa:sunderme/texstudio
  {{- end }}

  {{- if and .app_sets.teacher .app_sets.space }}
ppa:inkscape.dev/stable
ppa:obsproject/obs-studio

    {{- if lt .chezmoi.osRelease.versionID "22.04" }}
ppa:kdenlive/kdenlive-stable
{{- /*
  ppa:kubuntu-ppa/backports
*/ -}}
    {{- end }}
  {{- end }}

  {{- if .app_sets.me }}
ppa:flatpak/stable
ppa:git-core/ppa
ppa:kobuk-team/intel-graphics
ppa:linuxgndu/sqlitebrowser
ppa:solaar-unifying/stable
  {{- end }}

{{ template "utils/sed-sort-end.sh" -}}

